{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<p>Это мой первый сайт. Я его написал потому что мне было очень скучно и мне показалось что это будет интересно. Завайбкожено на 80 процентов, но вроде я узнал что-то новое. Задеплоено 9 сентября 
</p>
<p>В ближайшее время хочу поделать на этом домене поддомены и придумать чет новое. Пишите мне в тг предложения
</p>
<p>  Если кто-то заинтересован, можно попробовать сделать дб с конспектами побольше
</p>
{% endblock %}  